{
    "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
    },
    "extends": ["eslint:recommended", "plugin:prettier/recommended"],
    "rules": {
        "semi": ["warn", "always"]
    },
    "env": {
        "node": true
    }
}
